In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('fide_historical.csv')

In [6]:
df

,ranking_date,rank,name,title,country,rating,games,birth_year
0,27-07-00,1,"Kasparov, Garry",g,RUS,2849,35,1963
1,27-07-00,2,"Kramnik, Vladimir",g,RUS,2770,23,1975
2,27-07-00,3,"Anand, Viswanathan",g,IND,2762,23,1969
3,27-07-00,4,"Morozevich, Alexander",g,RUS,2756,28,1977
4,27-07-00,5,"Adams, Michael",g,ENG,2755,38,1971
...,...,...,...,...,...,...,...,...
11506,27-06-17,96,"Safarli, Eltaj",g,AZE,2656,9,1992
11507,27-06-17,97,"Shirov, Alexei",g,LAT,2656,9,1972
11508,27-06-17,98,"Granda Zuniga, Julio E",g,PER,2656,4,1967
11509,27-06-17,99,"Robson, Ray",g,USA,2656,0,1994
11510,27-06-17,100,"Grandelius, Nils",g,SWE,2655,10,1993

In [ ]:
labels = ['G1', 'G2', 'G3', 'G4', 'G5']
men_means = [20, 34, 30, 35, 27]
women_means = [25, 32, 34, 20, 25]

x = np.arange(len(labels))  # the label locations
width = 0.35  # the width of the bars

fig, ax = plt.subplots()
rects1 = ax.bar(x - width/2, men_means, width, label='Men')
rects2 = ax.bar(x + width/2, women_means, width, label='Women')